body, html{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}
body{
  min-height: -webkit-fill-available;
  font-size: 1.6rem;
}
footer{
  margin-top: auto;
}
*{
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: 400;
  line-height: 1.1;
}
img{
  vertical-align: top;
}
p{
  margin: 0 auto;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
  background-color: transparent;
  user-select: none;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th{
  font-weight: normal;
}
input, textarea, button{
  padding: 0;
  outline: none;
  border: none;
}
input[disabled], button[disabled]{
  cursor: default;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  /*border: 1px solid #d2d2d2;*/
  -webkit-text-fill-color: #4D4B4B;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
*::-webkit-scrollbar{
  width: 8px;
}
*::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, .5);
}
*::-webkit-scrollbar-thumb{
  background-color: #1F85DE;
  border-radius: 5px;
}
