$border-r: 30px;

:root{
  // === Colored ===
  --main: #2E5EA9;
  --accent: #B4FFDB;
  --pending: #FEBC5A;
  --appruved: #00CE6B;
  --declined: #FF3A3A;
  --active: #7DFFC1;
  // === Gray ===
  --gray-00: #000000;
  --gray-22: #222222;
  --gray-26: #262626;
  --gray-2e: #2E2E2E;
  --gray-6c: #6C6C6C;
  --gray-6d: #6D6D6D;
  --gray-8d: #8D8D8D;
  --gray-a2: #A2A2A2;
  --gray-b0: #B0B0B0;
  --gray-d2: #D2D2D2;
  --gray-ff: #FFFFFF;
  // === Semi Gray ===
}
